{% extends 'base.html.twig' %}

{% block body %}


<div class="row justify-content-center">
{% for cars in marques.cars %}
{% set url = path("carpage",{'slug':cars.slug}) %}
<div class="col-md-4 text-white">
    <div class="card bg-dark mb-3">
        <div class="card-header text-center">


            <h3>{{cars.Marque.nom}}</h3>



        </div>
        <img src="../images/cover/{{cars.cover}}" class="rounded mx-auto d-block" 
            alt="Image de la voiture" height='200'>
        <div class="card-body card-car ">
            <div class="card-title text-center ">
                <h4>{{cars.nom}}</h4>
            </div>
            <p class="card-text ">
                <p>-</strong>{{cars.kilometrage}} km</p>
                <p>-Puissance : {{cars.puissance}} CH</p>
                <p>-Carburant : {{cars.carburant}}</p>
                <p>-Année : {{cars.anneeCirculation | date('d/m/Y')}}</p>
                <h4 class="text-center">{{ cars.prix|format_currency('EUR', locale='fr') }}</h4>
            </p>
            
        </div>
        <div class="text-center m-5">
                <a href="{{url}}" class="bout">Découvrir la voiture</a>
            </div>
    </div>
</div>
{% endfor %}





{% endblock %}